body {
			background-color: #888;
		}

		div{
			background-color: #000;
			color: #FFF;
			font-size: 60px;
		}

		div.timer{
			position: absolute;
			top: 220px;
			left: 385px;
		}

		div.gameDiv{
			width: 800px;
			height: 600px;
			position:absolute;
			border: 5px double;
		}

		div.scoreWrapper {
		   width: 800px;
		}

		div.leftScoreWrapper {
			float: left;
			width: 390px;
		}

		div.rightScoreWrapper {
			float: right;
			width: 390px;
		}

		div.leftScoreDiv {
		   float: right;
		}

		div.rightScoreDiv {
		   float: left;
		}

		div.scoreWrapper{
			width: 800px;
			text-align: center;
		}

		div.leftPaddle{
			width: 20px;
			height: 150px;
			position: absolute;
			left: 20px;
			top: 225px;
			border-radius: 5px;
			background-color: #FFF;
		}

		div.rightPaddle{
			width: 20px;
			height: 150px;
			position: absolute;
			left: 760px;
			top: 225px;
			border-radius: 5px;
			background-color: #FFF;
		}

		div.ball{
			width: 10px;
			height: 10px;
			position: absolute;
			left: 395px;
			top: 295px;
			border-radius: 5px;
			background-color: #FFF;
		}