img {
	width:1000px;
	height:600px;
	position:relative;
}

.img-container {
	overflow: hidden;
	height: 200px;
	width: 200px;
	float:left;
	position: absolute;
	transition: transform 1s, width .5s, height .5s, box-shadow .5s;
	-webkit-transition: -webkit-transform 1s, width .5s, height .5s, -webkit-box-shadow .5s;
}

.main-wrapper {
	width: 1000px;
	height: 600px;
}