body {
	background-color: #aaccff;
}

img {
	width:1000px;
	height:600px;
	position:relative;
}

.img-container {
	overflow: hidden;
	height: 200px;
	width: 200px;
	float:left;
	transition: transform .3s;
	-webkit-transition: -webkit-transform .3s;
}

.img-container-finish {
	overflow: hidden;
	height: 200px;
	width: 200px;
	float:left;
	transition: transform .4s;
	-webkit-transition: -webkit-transform .4s;
}

.game-wrapper {
	width: 1000px;
	height: 600px;
	float: left;
	overflow: hidden;
	border: 2px solid black;
	transition: box-shadow 2s;
	-webkit-transition: box-shadow 2s;
}

.solution-wrapper {
	width: 1000px;
	height: 600px;
	position: relative;
	top: 2px;
	left: 2px;
	box-shadow: 0 0 20px 10px yellow;
	background-size: 1000px 600px;
	display: none;
}

.button {
	background-color: #0000aa;
	color: #ffffff;
	border-radius: 5px;
	padding: 10px;
	cursor: pointer;
	margin-bottom: 10px;
}

.right-container {
	float: left;
	margin: 0 10px;
	padding: 10px;
	border: 2px solid black;
}

.blank-box {
	background-color: #aaccff;
	position: relative;
	top: 400px;
	left: 800px;
	width: 200px;
	height: 200px;
}